{% extends 'home.html' %}
{% block title %}Update {{ dog_view.name }} info {% endblock %}
{% block content %}

<div class="container">
    <table class="table table-hover table-bordered table-striped">
            <tr>
                <td>
                <h1>{{ dog_view.name }}</h1>
                <a href="/update/{{dog_view.id}}" class="btn btn-outline-secondary btn-sm">Update</a>
                <a href="/delete/{{dog_view.id}}" class="btn btn-outline-secondary btn-sm">Delete</a>
                </td>
            </tr>
    </table>
</div>
{% endblock %}