{% extends 'home.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="container">
    <h1>Our Dogs</h1>
    <br/>
    <form action="dogs" METHOD="POST">
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="Breed" name="breed">
        <input type="submit" value="Add Dog" class="btn btn-secondary">
    </form>
    <br/>
    <table class="table table-hover table-bordered table-striped">
    {% for dog in dogs %}
    </h4>
        <tr>
            <td>
            {{dog.id}}
            <a href="/dog/{{dog.id}}" class="btn btn-outline-secondary btn-sm">{{ dog.name }}</a>
            {{dog.breed}}
            <a href="/dog/{{dog.id}}" class="btn btn-outline-secondary btn-sm">Update</a>
            <a href="javascript:deleteDog({{dog.id}})" class="btn btn-outline-secondary btn-sm">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
</div>
<script lang="javascript">
    function deleteDog(dog_id){
        //some XHR request goes here.
        let request = XMLHttpRequest('DELETE', `/dogs/${dog_id}`);
        if(request['deleted']){
            alert('Dog was deleted');
        }
    }
</script> 
{% endblock %}