{% extends 'home.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="container">
    <h1>Our Dogs</h1>
    <br/>
    <form action="/dogs" METHOD="POST">
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="Breed" breed="breed">
        <input type="submit" value="Add Dog" class="btn btn-secondary">
    </form>
    <br/>
    <table class="table table-hover table-bordered table-striped">
    <h4>
    {% for dog in dogs %}
        {{ dog.name }}
    </h4>
        <tr>
            <td>
            <a href="/dog/{{dog.id}}" class="btn btn-outline-secondary btn-sm">{{ dog.name }}</a>
            <a href="/update/{{dog.id}}" class="btn btn-outline-secondary btn-sm">Update</a>
            <a href="/delete/{{dog.id}}" class="btn btn-outline-secondary btn-sm">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
</div>
{% endblock %}